.header {
  padding: 24px 0 30px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='288' height='288' viewBox='0 0 288 288' fill='none'%3E%3Ccircle cx='144' cy='144' r='144' fill='%23FFAB08' /%3E%3C/svg%3E") bottom/611px no-repeat;
  margin-bottom: 30px;
}

.header__logo {
  display: block;
  width: 150px;
  color: #fff;
  margin: 0 auto 24px;
}

.header__title-container {
  padding-bottom: 248px;
  background: url('../img/pic.svg') bottom/227px no-repeat;
  text-align: center;
}

.header__title {
  font-weight: 800;
  font-size: 30px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 16px;
}

.header__title-red {
  display: block;
  color: #FF5C00;
}

.header__appeal {
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

@media (min-width: 480px) {
  .header {
    padding-bottom: 44px;
    background-size: 1540px;
  }

  .header__container {
    max-width: 480px;
  }

  .header__title-container {
    padding-bottom: 0;
    padding-top: 27px;
    padding-left: 180px;
    background-position: left;
    background-size: contain;
    text-align: left;
    min-height: 190px;
  }


}

@media (min-width: 768px) {
  .header {
    padding-bottom: 44px;
    background-size: 2540px;
  }

  .header__container {
    max-width: calc(562px + var(--padding-container) * 2);
  }

  .header__title-container {
    padding-left: 237px;
    min-height: 229px;
  }

  .header__title {
    font-size: 36px;
    margin-bottom: 26px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding-bottom: 63px;
    background-size: 2880px;
    margin-bottom: 40px;
  }

  .header__container {
    max-width: 832px;
  }

  .header__title-container {
    padding-top: 46px;
    padding-left: 326px;
    min-height: 326px;
  }

  .header__title {
    font-size: 50px;
    margin-bottom: 52px;
  }

  .header__appeal {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (min-width: 1440px) {

  .header__container {
    max-width: 853px;
  }

  .header__title-container {
    padding-left: 347px;
  }
}